#success-message {
  background-color: #38b000;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  margin: 12px auto;
  display: inline-block;
  text-align: center;
}

.container{
    text-align: center;
}

#success-message.visible {
  visibility: visible;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
