form{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

input[type= "text" ]{
    flex: 1;
    padding: 10px;
    border: 1px solid var(--text-grey);
    border-radius: var(--border-radius);
    font-size: 16px;
}

button[type= "submit"]{
    background-color: var(--button-bg);
    color: var(--text-btn-white);
    border: none;
    padding: 10px 20px ;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    transition: background-color var(--transition-speed);
}

button[type = "submit"]:hover{
    background-color: var(--button-hover-bg);
    
}
