.task-text{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.task-text.done{
    text-decoration: line-through;
    transition: all 0.3s ease-in-out;
    color: var(--text-gray) ;
    opacity: 0.6;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li.task-item{
    margin: 0 auto;
    max-width: 800px;
}

li{
    background-color: var(--text-btn-white);
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transform: transform 0.2s;
    transition: all ease-in-out .2s;
}

li:hover{
    transform: translateY(-3px);
    transition: all ease-in-out .2s;
}

span.done{
    text-decoration: line-through;
    color: #999;
    background-color: #e0e0e0;
}

button.remove-btn{
    background: none;
    border: none;
    color: #e53935;
    padding: 6px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    transition: background-color var(--transition-speed);
    transition: all .2s ease-in-out;
   
}

button.remove-btn:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}


