:root{
    --primary-color: #5c67f2;
    --accent-color: #38bdf8;
    --bg-color: #f4f4f4;
    --text-color: #222;
    --task-bg: #ffffff;
    --border-radius : 8px;
    --spacing: 1rem;
    --font-stack: "Montserrat", sans-serif;
}


*{
    font-family: var(--font-stack);
}